# Godot 4+ specific ignores
*.uid
*.gen.*
.godot/

# Python specific ignores
__pycache__/
dist/
.venv/

# Binaries
*.obj
*.dblite
*.dll
*.lib
*.exp
*.ilk
*.pdb
*.so
*.os
*.bat

# Visual Studio specific ignores
.vs
.vscode
.cache
out/

# Other
build/
