# Godot 4+ specific ignores
*.uid
*.gen.*
.godot/

# Python specific ignores
__pycache__/
.venv/

# Binaries
*.obj
*.dblite
*.dll
*.lib
*.exp
*.ilk
*.pdb
*.bat

# Visual Studio
.vs
.vscode
out/
build/
build-debug/
build-release/